div#carousel-block.carousel.slide(data-ride="carousel")
	div.carousel-inner
		div.item.active
			a
				img(src='http://img.ivsky.com/img/tupian/pic/201502/19/paracel_islands-008.jpg' alt='西沙群岛')
			div.carousel-caption.d-none.d-md-block
				strong 西沙群岛————中国最美海岛
		div.item
			a
				img(src='http://img.ivsky.com/img/tupian/pic/201705/16/dali_gucheng-013.jpg' alt='大理古城')
			div.carousel-caption.d-none.d-md-block
				h3 大理古城————文艺时尚的慢生活
		div.item
			a
				img(src='http://img.ivsky.com/img/tupian/pic/201810/07/victoria_harbour-004.jpg' alt='西沙群岛')
			div.carousel-caption.d-none.d-md-block
				strong 香港————维多利亚灯光秀
	a.left.carousel-control(href='#carousel-block' data-slide='prev')
		span.glyphicon.glyphicon-chevron-left
		span.sr-only 《
	a.right.carousel-control(href='#carousel-block' data-slide='next')
		span.glyphicon.glyphicon-chevron-right
		span.sr-only 》