form(novalidate class="md-layout" @submit.prevent="validateDirector")
	md-card.md-layout-item.no-overflow
		md-card-header
			div.md-layout
				div.md-title 导游信息填写
		md-card-content
			div here is form content