extends layout

append head
	title Page Not Found
	link(rel='stylesheet' href='/stylesheets/error.css' type='text/css')

block content
	body
		div.error-page-content
			h1 404
			h2 出错啦
			p 你要找的页面在西伯利亚~
