doctype html
html
  head
    block head
      include header.pug
      
  body
    include navigate.pug
              

    header#header.mui--z1
      div.mui-appbar.mui--appbar-height
        table(width='100%')
          tr
            td
              div.mui-container-fluid
                button.mui-btn.mui-btn--primary.sidedrawer-toggle.mui--visible-xs-inline-block.mui--visible-sm-inline-block.js-show-sidedrawer ☰
                button.mui-btn.mui-btn--primary.sidedrawer-toggle.mui--hidden-xs.mui--hidden-sm.js-hide-sidedrawer ☰
            td(align='center')
              a(href='/')
                button.mui-btn.mui-btn--primary
                  h4 拼团游
            td(align='right')
              #user
                if user
                  include logined-user-bar.pug
                else 
                  include none-user-bar.pug

    div#content-wrapper
      div.mui--appbar-height
      div#strange
        block content

    footer#footer
      div.mui-container.mui--text-center
        br
        p Made with <a href="https://www.muicss.com")> MUICSS </a>