doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(content='width=device-width, initial-scale=1')
      title #{title}
      link(rel='stylesheet', href='//cdn.muicss.com/mui-0.9.41/css/mui.min.css' type='text/css')
      link(rel='stylesheet', href='/stylesheets/style.css' type='text/css')
      script(src="//code.jquery.com/jquery-2.1.4.min.js")
      script(src='/javascripts/indexToolbar.js')
      script(src='//cdn.muicss.com/mui-0.9.41/js/mui.min.js')
  body
    div#sidedrawer.mui--no-user-select
      div#sidedrawer-brand.mui--appbar-line-height
        span.mui--text-title 快速导航
      div.mui-divider
      ul
        li
          strong 主页
          ul
            li
              a(href='#')
                button.mui-btn.mui-btn--raised.mui-btn--primary 最新推荐
            li
              a(href='#')  
                button.mui-btn.mui-btn--raised.mui-btn--primary 特价活动
            li
              a(href='#')
                button.mui-btn.mui-btn--raised.mui-btn--primary 友商链接

      ul
        li
          strong 个人中心
          ul
            li
              a(href='#')
                button.mui-btn.mui-btn--raised.mui-btn--primary 我的行程
              
            li
              a(href='#')
                button.mui-btn.mui-btn--raised.mui-btn--primary 个人设置
              

    header#header
      div.mui-appbar.mui--appbar-line-height
        div.mui-container-fluid
          a.sidedrawer-toggle.mui--visible-xs-inline-block.mui--visible-sm-inline-block.js-show-sidedrawer ☰
          a.sidedrawer-toggle.mui--hidden-xs.mui--hidden-sm.js-hide-sidedrawer ☰
            a.mui--text-title(href='/')
              button.mui-btn.mui-btn--primary 拼团游
    div#content-wrapper
      div.mui--appbar-height
      div.mui-container-fluid
        block content

    footer#footer
      div.mui-container-fluid
        br
        p Made with <a href="https://www.muicss.com")> MUICSS </a>