extends layout

append head
	link(rel='stylesheet' href='/stylesheets/sign.css' type='text/css')

block content
	
	script(src='/javascripts/signin.js')
	div(height='100%')#signin
		center
			h2.mui--text-center 欢迎登录拼团游
			table#sign-content-wrapper.mui-body(cellpadding="0" cellspacing="0" border="0" width='50%')
				tr
					td.mui-panel
						div.mui-container
								form.mui-form
									div.mui-textfield.mui-textfield--float-label
										input#signin-email(type='email' required)
										label 电子邮箱
									div.mui-textfield.mui-textfield--float-label
										input#signin-password(type='password' required)
										label 密码
								button#signin-btn.mui-btn.mui-btn--raised.mui-btn--primary(type="submit") 提交
