div#sidedrawer.mui--no-user-select
  div#sidedrawer-brand.mui--appbar-line-height
    span.mui--text-title 快速导航
  div.mui-divider
  ul
    li
      h4 主页
      ul
        li
          a(href='#')
            button.mui-btn.mui-btn--raised.mui-btn--primary 最新推荐
        li
          a(href='/createRoute')  
            button.mui-btn.mui-btn--raised.mui-btn--primary 我要出行
        li
          a(href='/forum')
            button.mui-btn.mui-btn--raised.mui-btn--primary 驴友之家
  ul
    li
      h4 个人中心
      ul
        li
          a(href='/#')
            button.mui-btn.mui-btn--raised.mui-btn--primary 我的行程
          
        li
          a(href='/userCenter')
            button.mui-btn.mui-btn--raised.mui-btn--primary 个人设置