div#sidedrawer.mui--no-user-select
  div#sidedrawer-brand.mui--appbar-line-height
    span.mui--text-title 快速导航
  div.mui-divider
  ul
    li
      strong 主页
      ul
        li
          a(href='#')
            button.mui-btn.mui-btn--raised.mui-btn--primary 最新推荐
        li
          a(href='#')  
            button.mui-btn.mui-btn--raised.mui-btn--primary 特价活动
        li
          a(href='#')
            button.mui-btn.mui-btn--raised.mui-btn--primary 友商链接
  ul
    li
      strong 个人中心
      ul
        li
          a(href='#')
            button.mui-btn.mui-btn--raised.mui-btn--primary 我的行程
          
        li
          a(href='#')
            button.mui-btn.mui-btn--raised.mui-btn--primary 个人设置