form(novalidate class="md-layout" @submit.prevent="validateUser")
	md-card.md-layout-item.no-overflow
		md-card-header
			div.md-layout
				div.md-title 用户信息填写
				md-button(@click='startEdit') 编辑
		md-card-content
			div.md-layout.md-gutter
				div.md-layout-item.md-small-size-100
					md-field
						label(for='name') 姓名
						md-input#detail-name(name='name' v-model='detailName' disabled)
				div.md-layout-item.md-small-size-100
					md-field
						label(for='idcard') 身份证号
						md-input#detail-id(name='idcard' v-model='detailID' disabled)
				div.md-layout-item.md-small-size-100
					md-field
						label(for='gender') 性别
						md-select#gender(name='gender' v-model='sex' disabled)
							md-option
							md-option(value='M') 男
							md-option(value='F') 女			
			div.md-layout.md-gutter
				div.md-layout-item.md-small-size-100
					md-field
						label(for='phone') 移动电话
						md-input#detail-phone(name='phone' v-model='detailPhone' disabled)
				div.md-layout-item.md-small-size-100
					md-field
						label(for='province') 省份
						md-select#detail-province(name='province' v-on:click.native='parentSelect' v-model='detailProvince' disabled)
							md-option(v-for="(province, key) in provinces" :value="province.provinceName" :key="province.provinceName" disabled) {{province.provinceName}}
				div.md-layout-item.md-small-size-100
					md-field
						label(for='detail-city') 城市
						md-select#detail-city(name='detail-city' v-on:click.native='parentSelected' v-model='detailCity' disabled)
							md-option(v-for="(city, key) in provinces[parentIndex].citys" :value="city.citysName" :key="city.citysName") {{city.citysName}}			
			div.md-layout.md-gutter
				div.md-layout-item.md-small-size-100
					md-field
						label(for='language') 语言
						md-select#detail-language(name='language' multiple v-model='selectedLanguages' md-dense disabled)
							md-option(value='English') 英语
							md-option(value='Cantonese') 粤语
							md-option(value='Chinese') 普通话
							md-option(value='Minnan') 闽南话
							md-option(value='Hakak') 客家话
							md-option(value='TongPei') 东北话
							md-option(value='Peking') 北京话
							md-option(value='Zang') 藏语
							md-option(value='Korean') 韩语			
			div.md-layout.md-gutter
				div.md-layout-item.md-small-size-100
					md-field
						label(for='introdution') 自我介绍
						md-textarea(v-model='selfIntroduction' name='introdution' disabled)
