.mui-container,
.mui-container-fixed {
  padding-top: 15px;
  padding-bottom: 15px;
}

#signin {
    background: url(../images/errorbg.jpg) no-repeat;
    background-size: cover;
    height: 100%
    width: 100%;
    margin: -20px;
    min-height: 511px;
}

#signin h2 {
	color: #ffffff;
  padding-top: 10px;
  margin-bottom: 5px;
}